@import '../../common/resources/client/common.css';
@import 'drive/file-view/file-grid/file-grid.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.landing-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 14px;
  padding-right: 14px;
}

.border-b {
  border-bottom-width: 0px;
}

.dashboard-grid-navbar{
  margin-top: 0px;
}

.create{
  background-color: #3F8CFF;
  padding: 10px !important;
}

.create:hover {
  background-color: #3F8CFF !important;
}

.delete{
  background-color: #3F8CFF;
  padding: 10px !important;
  display: flex;
  justify-content: flex-end;
}

.delete:hover{
  background-color: #3F8CFF !important;
}

.add-workspace{
  height: 150px;
  width: 260px;
  border-radius:24px;
}

.drive-files{
  border-radius: 15px;
}

.add-workspace button{
  border-radius:24px;
}

.drive-view-list{
  border-radius: 20px;
}

.details{
  border-radius: 20px;
}

.user-name{
  border-radius: 20px;
  padding: 5px 0px;
}

.dashboard-storage{
  border-radius: 20px;
  width: 340px;
  height:130px;
}

.nav-search {
  border-radius: 8px !important;
}

.nav-search input {
  background-color: white;
}

.nav-search button {
  color: black;
}

.sidebar-storage {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2); /* Increased shadow */
}

.sidebar-storage a {
  width: 100%;
  background-color: #0061FF;
  color: white;
  border-radius: 8px;
}

.sidebar-storage a:hover {
  background-color: white;
  color: #0061FF;
}

.storage-meter .h-4 {
  background-color: #c5c6c7;
}

.storage-meter .bg-primary {
  background-color: #051F61;
}

.main-sidebar {
  padding: 0 15px;
}

.sidebar-menus .bg-primary {
  background: transparent !important;
}

.drive-text button {
  font-weight: 600;
}

.drive-btn {
  border-radius: 14px;
}

.main-account {
  padding: 0 20px;
}

.drive-text svg {
  font-weight: 600;
}

.account-settings-tab {
  border-radius: 24px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

#password {
  box-shadow: none !important;
}

.form-field input {
  border-radius: 14px;
}

.form-field label {
  color: #7D8592;
  font-weight: 600;
}

.save-btn button {
  border-radius: 14px;
}

.main-api-page {
  padding: 0 20px;
}

.dark .swagger-ui .opblock.opblock-post .tab-header .tab-item.active h4 span:after {
  display: none;
}

.swagger-ui .opblock .opblock-section-header {
  background: #CCE1FF !important;
  border-radius: 14px;
}

.swagger-ui .opblock .tab-header .tab-item.active h4 span {
  color: #605C5C;
  font-size: 18px;
  font-weight: 600;
}

.swagger-ui .opblock.is-open .opblock-summary {
  border-bottom: none !important;
}

.dark .swagger-ui .response-col_status {
  color: white;
}

.dark .swagger-ui .response-col_description {
  color: white;
}

.send-ticket {
  padding: 13px 20px;
  border-radius: 14px;
}

.cancel-ticket {
  padding: 13px 20px;
  border-radius: 14px;
}

.account-list {
  width: 100%;
}

.account-list:hover {
  cursor: pointer;
  background-color: #e1e2e4;
  border-radius: 8px;
}

.dark .account-list:hover {
  background-color: #333237;
}

.support-ticket {
  background-color: white;
}

.dark .support-ticket {
  background: transparent;
  border: 1px solid #D8E0F0;
}
 
@media screen and (min-width: 768px) {
  .landing-container {
    max-width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .landing-container {
    max-width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .landing-container {
    max-width: 1170px;
  }
}
