@import '../../common/resources/client/common.css';
@import 'drive/file-view/file-grid/file-grid.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.landing-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 14px;
  padding-right: 14px;
}

.border-b {
  border-bottom-width: 0px;
}

.dashboard-grid-navbar{
  margin-top: 0px;
}

.create{
  background-color: #3F8CFF;
  padding: 10px !important;
}

.create:hover {
  background-color: #3F8CFF !important;
}

.delete{
  background-color: #3F8CFF;
  padding: 10px !important;
  display: flex;
  justify-content: flex-end;
}

.delete:hover{
  background-color: #3F8CFF !important;
}

.add-workspace{
  height: 150px;
  width: 260px;
  border-radius:24px;
}

.drive-files{
  border-radius: 15px;
}

.add-workspace button{
  border-radius:24px;
}

.drive-view-list{
  border-radius: 20px;
}

.details{
  border-radius: 20px;
}

.user-name{
  border-radius: 20px;
  padding: 5px 0px;
}

.dashboard-storage{
  border-radius: 20px;
  width: 340px;
  height:130px;
}

@media screen and (min-width: 768px) {
  .landing-container {
    max-width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .landing-container {
    max-width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .landing-container {
    max-width: 1170px;
  }
}
