.dark, .dark * {
    color: white;
}

.swagger-ui .model-title .dark {
    color: white;
}

.swagger-ui .info .title .dark {
    color: white;
}

.swagger-ui .info p .dark {
    color: white;
}

.swagger-ui .info .title {
    color: #5a5a5a; 
}

.dark .swagger-ui .info .title{
    color: white;
}

.swagger-ui .info p{
    color: #5a5a5a; 
}

.dark .swagger-ui .info p{
    color: white; 
}

.swagger-ui .opblock .opblock-summary-description{
    color: #5a5a5a; 
}

.dark .swagger-ui .opblock .opblock-summary-description{
    color: white; 
}

.swagger-ui .model-title {
    color: #5a5a5a;
}

.dark .swagger-ui .model-title {
    color: white;
}

.swagger-ui .model-toggle:after {
    background-color: none;
}

.dark .swagger-ui .model-toggle:after {
    background-color:white;
}

.swagger-ui .models-control:focus {
    outline: none;
}

.dark .swagger-ui section.models h4 svg {
    background-color: white;
}

.dark .swagger-ui .expand-operation svg {
    background-color: white;
}

.dark .swagger-ui svg:not(:root) {
    background-color: white;
}

.dark .swagger-ui .copy-to-clipboard svg:not(:root) {
    background-color: #7D8583;
}

.dark .swagger-ui .servers-title {
    color: black;
}

.dark .swagger-ui .btn.authorize span {
    color: #49CC90;
}

.dark .swagger-ui .opblock-description-wrapper p {
    color: white;
}

.dark .swagger-ui .parameter__name,
.swagger-ui .parameter__type,
.swagger-ui .response-col_status,
.swagger-ui .response-col_description,
.swagger-ui .response-col_links,
.swagger-ui .tab li button.tablinks,
.swagger-ui table thead tr th {
    color: white;
}

.swagger-ui .btn.authorize{
    border:none;
    color: #3f8cff;
}

.swagger-ui .btn.authorize svg{
    display: none;
}

.swagger-ui div{
    border:none;
}

.swagger-ui .opblock.opblock-post{
    border-color: transparent;
    background-color: transparent;
}

.swagger-ui .opblock.opblock-get{
    border-color: transparent;
    background-color: transparent;
}
.swagger-ui .opblock.opblock-delete{
    border-color: transparent;
    background-color: transparent;
}
.swagger-ui .opblock.opblock-put{
    border-color: transparent;
    background-color: transparent;
}

.swagger-ui .opblock.opblock-post .opblock-summary-method {
    background: transparent;
    color:#49cc90;
}

.swagger-ui .opblock.opblock-get .opblock-summary-method {
    background: transparent;
    color:#61affe;
}

.swagger-ui .opblock.opblock-put .opblock-summary-method {
    background: transparent;
    color:#fca130;
}

.swagger-ui .opblock.opblock-delete .opblock-summary-method {
    background: transparent;
    color:#f93e3e;
}

.swagger-ui .response-col_description{
    color: black;
}

.swagger-ui .response-col_status{
    color: black;
}

